
@{
    ViewData["Title"] = "Results";
}
@model List<MovieDetail>

<h1 style="text-align:center">Movie Results </h1>
<br><br>

<div class="flex">
    @foreach (var movie in Model)
    {
        string imgsrc = "https://image.tmdb.org/t/p/w500" + movie.poster_path;

        <div class="flex-item">
            <img src="@imgsrc" style="width:50%" /><br>
            <h4>@movie.title</h4>
            <h5>Runtime: @movie.runtime</h5>

            <h5>Release Date: @movie.release_date</h5>


            <button onclick="document.location = '/Movie/AddToFavorite?id=@movie.id'"> Add to Favorites</button>
            <br><br><br><br>
        </div>  
     }
</div>