
@{
    ViewData["Title"] = "Results";
}
@model List<MovieDetail>

<h1>Movie Results </h1>

<table style="width:100%">

    <tr>
        <th>Movie Title</th>
        <th>Movie Run Time</th>
        <th>Movie Release Date</th>
        <th>Movie Poster</th>
    </tr>

    @foreach (var movie in Model)
    {
        <tr>
            <td>@movie.title</td>
            <td>@movie.runtime</td>
            <td>@movie.release_date.ToShortDateString()</td>
            @{ 
                string imgsrc = "https://image.tmdb.org/t/p/w500" + movie.poster_path;
            }
            <td><img src="@imgsrc" style="width:50%" /></td>
            <td>
                <button onclick="document.location = '/Movie/AddToFavorite?title=@movie.title'"> Add to Favorites</button>
            </td>
            
        </tr>
     }


</table>